<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/IndexStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=0fc34d81-48e6-4067-a8d2-9e5a20db5b05" type="text/javascript"></script>
    <script src="~/js/mapsCemet.js" type="text/javascript" asp-append-version="true"></script>
</head>
<div style="padding-left:80px;padding-right:80px;margin-bottom:20px">
    <span style="font-size:30px;font-weight:bold">Кладбища Казани</span>
</div>
<div id="map" style="height:700px"></div>