@model IEnumerable<RitualServer.Model.Product>
@{
    ViewBag.Title = "Продукты";
}
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            
        </tr>
    }
</table>